import * as S from './styles';
import { I{{pascalCase name}} } from './interface';

export function {{pascalCase name}}({}: I{{pascalCase name}}) {
  return (
    <S.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </S.Wrapper>
  );
}
